form {
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

input[type=submit] {
  background: blue;
  border: 1px solid blue;
  color: white;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}